.header {
    font-size: 40px;
    color: rgb(255, 255, 255);
    align-self: center;
}

.button {
    font-size: 20px;
    width: 220px;
    height: 60px;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 50px;
    background-color: rgb(107, 229, 213);
}
